@media screen and (max-width: 1289px) {
    #header1{
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        .editorNavbar{
            .editorContainer1{
                padding: 10px;
            }
        }
        #contenedorSeccion1{
            height: auto;
            display: flex;
            flex-direction: column;
            margin-top: 320px;
            .parrafoSeccion1{
                margin: 0px 30px;
                padding: 23px;
            }
        }
    }
}

@media screen and (max-width: 426px){
    #header1{
        background-size: 600px;
        #contenedorSeccion1{
            margin-top: 190px;
            .tituloSeccion1{
                margin-top: 0px;
                h1{
                    font-size: 50px;
                }
            }
            .parrafoSeccion1{
                margin: 0px 10px;
                font-size: 20px;
            }
        }
    }
    .formularioDeRegistro{
        width: 365px;
        padding: 25px;
        .formulario{
            p{
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 376px){
    .formularioDeRegistro {
        width: 330px;
        padding: 10px;
    }
}