@media screen and (max-width: 1300px){
    .mosquitasCarrusel{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 50px 120px 100px 120px;
        row-gap: 30px;
        flex-wrap: wrap;
        .mosca{
            img{
                width: 300px;
                &:hover{
                    transform: translate(0px,-5px);
                }
            }
        }
    }
}

@media screen and (max-width: 769px){
    #header4{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        .editorNavbar{
            .editorContainer1{
                padding: 10px;
            }
        }
        #contenedorSeccion4{
            margin-top: 230px;
            height: calc(100vh - 220px);
            h2{
                margin-top: 35px;
                font-size: 40px;
            }
            .arrow{
                img{
                    width: 100px;
                    margin-top: 10px;
                    @keyframes arrow{
                        0%{
                            opacity: 0;
                        }
                        100%{
                            opacity: 1;
                            transform: translate(0px, 60px);
                        }
                    }
                }
            }
        }
    }
    .mosquitasCarrusel{
        padding: 0px 0px 60px 0px;
    }
}

@media screen and (max-width: 426px){
    #header4{
        #contenedorSeccion4{
            margin-top: 110px;
            height: calc(100vh - 220px);
            h1{
                font-size: 50px;
            }
            h2{
                margin-top: 120px;
                font-size: 30px;
                padding: 0px 20px;
            }
            .arrow{
                img{
                    width: 100px;
                    margin-top: 10px;
                    @keyframes arrow{
                        0%{
                            opacity: 0;
                        }
                        100%{
                            opacity: 1;
                            transform: translate(0px, 80px);
                        }
                    }
                }
            }
        }
    }
    .mosquitasCarrusel{
        padding: 30px 0px 60px 0px;
    }
}