
/* PARA ACTIVAR RESET */
*{
    margin: 0;
    padding: 0;
}

                                        /* etiqueta para luego usar REM */
html{
    font-size: 62,5%;
}

                                        /*Toda la Pagina*/

#body{
    text-align: center;
    background-color: black;
}

h1{
    font-family: 'Covered By Your Grace', cursive;
    font-weight: lighter;
    font-size: 90px;
    color: rgba(255, 255, 255, 0.70);
}

h2{
    font-family: 'Covered By Your Grace', cursive;
    font-weight: lighter;
    font-size: 50px;
    color: #f5f5f5b8;
}

h3{
    color: white;
    font-size: 30px;
    font-family: 'Hubballi', cursive;
}

h5{
    font-family: 'Covered By Your Grace', cursive;
    font-weight: lighter;
    font-size: 30px;
    color: rgba(47, 79, 79, 0.5);
    margin: 0px;
}

p{
    color: #787878;
    font-size: 25px;
    font-family: 'Hubballi', cursive;
}

                                                            /* INDEX */

#header{
    background-image: url(../imagenes/fondoLogo1.jpg);
    background-position: center;    
    background-size: cover;
}

.editorNavbar{
    background-color: rgba(169, 169, 169, 0.3);
}

.editorContainer1{
    padding: 0px;
}

.editorBoton{
    background-color: rgba(169, 169, 169, 0.12);
}

.editorCentrarNav{
    display: flex;
    justify-content: center;
}

.editorTextosNav{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    column-gap: 45px;
}

.editorLink{
    margin: 5px 0px;
    padding: 0px;
}

#logoFlyFishing{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    animation-name: animLogo;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
}

@keyframes animLogo{
    0%{ opacity: 0;}
    100%{opacity: 1;}
}

.logoPpal{
    width: 700px;
    opacity: 80%;
}

#contenedorMain{
    margin: 50px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 60px;
}

.subtituloUno{
    background-color: #12473b7a;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 20px;
    background-image: linear-gradient(to bottom, #00000000, #000000d4);
}

.subtituloUno h2{ 
    font-size: 40px;
    padding-bottom: 15px;
}

.videoPesca{
    padding: 180px 0px 200px 0px;
    background-image: url(../imagenes/imagenFondoVideo.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.videoPesca iframe{
    margin: 70px 0px 0px 70px;
    border: 5px solid black;
    box-shadow: 10px 8px 45px #5050509e;
}

.fraseFinal h5{
    padding: 10px 0px;
    background-color: rgba(169, 169, 169, 0.17);
    color: black;
}

                                                       /* INDEX TABLET */

@media screen and (max-width: 768px){

h1{
    font-size: 65px;
}

.editorContainer1{
    padding: 8px;
}

#logoFlyFishing{
    height: calc(100vh - 260px);
    flex-direction: row;
}

.logoPpal{
    width: 450px;
}

#contenedorMain {
    margin: 25px 50px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 35px;
}

.subtituloUno{
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 30px;
    justify-content: center;
    align-content: space-around;
}

.subtituloUno h2{ 
    font-size: 35px;
    padding-bottom: 20px;
}

.videoPesca{
    padding: 20px 0px 345px 0px;
    background-size: contain;
    background-position-y: bottom;
    background-repeat: no-repeat;
    flex-wrap: nowrap;
    justify-content: center;
}

.videoPesca iframe{
    margin: 0px;
}

}

                                                       /* INDEX MOBILE */

@media screen and (max-width: 426px) {

h1{
    font-size: 40px;
}

.editorContainer1{
    padding: 8px;
}

#header{
    background-image: url(../imagenes/fondoLogo1.jpg);
    background-position: -530px;
    background-size: cover;
    background-repeat: no-repeat;
}

#logoFlyFishing{
    height: calc(100vh - 56px);
}

.logoPpal{
    width: 300px;
}

#contenedorMain {
    margin: 5px 20px;
}

.subtituloUno{
    padding: 15px 15px;
}

.subtituloUno h2{ 
    font-size: 29px;
    padding-bottom: 20px;
}

.subtituloUno p{
    font-size: 20px;
}

.videoPesca{
    padding: 45px 25px 240px 25px;
}

.fraseFinal h5{
    padding: 15px 0px;
    color: #f5f5f559;
    font-size: 20px;
}

}

                                                            /* SECCION 1 QUIENES SOMOS */
                                                    
#header1{
    background-image: url(../imagenes/truchaImagen1.jpg);
    background-position: center;
    background-size: cover;
}

#contenedorSeccion1{
    height: calc(100vh - 55px);
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: 0.8fr 2fr;
    grid-template-areas: 
    "titulo none"
    "texto none"
    ;
    align-items: center;
}

.tituloSeccion1{
    grid-area: titulo;
    margin-top: 30px;
}

.parrafoSeccion1{
    grid-area: texto;
    padding: 15px;
    margin: 0px 25px;
    background-color: #0000005e;
    border-radius: 40px;
}

                                       /* FORMULARIO DE REGISTRO */

.formularioDeRegistro{
    width: 450px;
    background-color: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 65px;
    border: 3px solid #1f54c5c7;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    box-shadow: 8px 8px 45px #505050bf;
}

.formularioDeRegistro h4{
    font-size: 22px;
    margin-bottom: 20px;   
}

.datosFormulario{
    width: calc(100% - 30px);
    background-color: #24303c;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: white;
}

.formularioDeRegistro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.formularioDeRegistro a{
    text-decoration: none;
}

.formularioDeRegistro a:hover{
    color: white;
}

.boton{
    width: 100%;
    background-color: #1f53c5;
    border: none;
    border-radius: 5px;
    padding: 12px;
    color: white;
    margin: 16px 0px;
    font-size: 16px;
}

.boton:hover{
    color: black;
    box-shadow: 0px 0px 10px #00000086;
}

.boton2{
    display: none;
}

                                                       /* SECCION 1 QUIENES SOMOS TABLET */

@media screen and (max-width: 768px) {

#header1{
    background-position: top;
    background-size: 950px;
    background-repeat: no-repeat;
}

#contenedorSeccion1{
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 320px;
}

.parrafoSeccion1{
    margin: 0px 30px;
    padding: 23px;
}

}

                                                        /* SECCION 1 QUIENES SOMOS MOBILE*/

@media screen and (max-width: 426px){

#header1{
    background-size: 600px;
}

#contenedorSeccion1{
    margin-top: 190px;
}

.tituloSeccion1{
    margin-top: 0px;
}

.parrafoSeccion1{
    margin: 0px 10px;
    font-size: 20px;
}

.redesSociales{
    padding: 20px 0px;
    flex-direction: column;
    row-gap: 20px;
}

.formularioDeRegistro{
    width: 365px;
    padding: 25px;
}

.formularioDeRegistro p{
    font-size: 15px;
}

}

@media screen and (max-width: 376px){

.formularioDeRegistro {
    width: 330px;
    padding: 10px;
}

}

                                                                /* SECCION 2 TRUCHAS */
                                 
#body2{
    text-align: center;
    background-color: black;
    background-image: url(../imagenes/fondoSeccion2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.tituloSeccion2{
    margin-top: 30px;
}

.prueba1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - 150px);
    margin-bottom: 35px;
}

.trucha1{
    background-color: #12473b7a;
    border-radius: 15px;
    margin: 0px 5px;
}

.trucha1 h2{
    margin: auto;
}

.trucha1 img{
    height: 220px;
}

.trucha1:hover{
    box-shadow: 3px 3px 8px #000000;
    background-color: #12473bc5;
}

                    /* EDICION ACORDION CARACTERISTICAS */

.accordion{
    margin: 0px 15px 15px;
}

.accordion-item{
    background-color: #12473b00;
    border: 0px;
}

.accordion-item:first-of-type .accordion-button {
    color: whitesmoke;
    background-color: #12473b7a;
    font-size: 20px;
    padding: 10px;
}

/* .accordion-button{
    color: black;
    text-align: center;
} */

.accordion-body {
    padding: 5px 10px;
    color: rgba(245, 245, 245, 0.68);
}

                                                        /* TRUCHAS TABLET */

@media screen and (max-width: 768px) {

#body2{
    background-size: cover;
    background-position-x: right;
}

.tituloSeccion2{
    margin-top: 30px;
}

.prueba1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 15px 30px;
    height: 100%;
}

.trucha1{
    margin: 8px;
}
.trucha1 img{
    height: 150px;
}

}    

                                                    /*ESTO ES EL MAIN SECCION 3*/


#contenedorSeccion3{
    margin-top: 110px;
    height:calc(100vh - 170px);
}

#contenedorSeccion3 p{
    margin: 120px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.zonasDeMendoza{
    margin: 0px 0px 50px 0px; 
    padding: 0px;
}

.zonasDeMendoza h1{
    margin-bottom: 35px;
    background-color: #12473b7a;
    background-image: linear-gradient(to bottom, #00000000, #000000b8);
}

.zonasDeMendoza h2{
    margin-bottom: 0px;
}

.zonasDeMendoza img{
    height: 500px;
}

.editorFilas{
    margin: 0px; 
    padding: 0px;
}

.editorDiv{
    margin: 0px; 
    padding: 0px;   
}

                                        /*ESTO ES EL MAIN SECCION 4*/

#contenedorSeccion4{
    margin: 120px 190px 50px 190px;
}

                                        /*ESTO ES EL MAIN SECCION 5*/

#contenedorSeccion5{
    margin: 120px 190px 50px 190px;
}

                                        /*ESTO ES EL FOOTER*/

#footer{
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
}

.redesSociales{
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px;
}

.redesSociales li{
    list-style-type: none;
}

.redesSociales li a{
    text-decoration: none;
    color: white;
}

.redesSociales li:hover a{
    color: gray;
}

.parrafoFooter{
    color: rgba(158, 158, 158, 0.548);
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
    padding: 10px;
}