* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62,5%; }

#body {
  text-align: center;
  background-color: black; }

h1 {
  font-family: 'Covered By Your Grace', cursive;
  font-weight: lighter;
  font-size: 90px;
  color: rgba(255, 255, 255, 0.7); }

h2 {
  font-family: 'Covered By Your Grace', cursive;
  font-weight: lighter;
  font-size: 50px;
  color: #f5f5f5b8; }

h3 {
  color: white;
  font-size: 30px;
  font-family: 'Hubballi', cursive; }

h5 {
  font-family: 'Covered By Your Grace', cursive;
  font-weight: lighter;
  font-size: 30px;
  color: rgba(47, 79, 79, 0.5);
  margin: 0px; }

p {
  color: #787878;
  font-size: 25px;
  font-family: 'Hubballi', cursive; }

#header1 {
  background-image: url(../imagenes/truchaImagen1.jpg);
  background-position: center;
  background-size: cover; }
  #header1 .editorNavbar {
    background-color: rgba(169, 169, 169, 0.3); }
    #header1 .editorNavbar .editorContainer1 {
      padding: 0px; }
      #header1 .editorNavbar .editorContainer1 .editorBoton {
        background-color: rgba(169, 169, 169, 0.12); }
      #header1 .editorNavbar .editorContainer1 .editorCentrarNav {
        justify-content: center; }
        #header1 .editorNavbar .editorContainer1 .editorCentrarNav .editorTextosNav {
          font-family: 'Bebas Neue', cursive;
          font-size: 30px;
          column-gap: 45px; }
          #header1 .editorNavbar .editorContainer1 .editorCentrarNav .editorTextosNav .editorLink {
            margin: 5px 0px;
            padding: 0px; }
            #header1 .editorNavbar .editorContainer1 .editorCentrarNav .editorTextosNav .editorLink:hover {
              color: whitesmoke; }
  #header1 #contenedorSeccion1 {
    height: calc(100vh - 55px);
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: 0.8fr 2fr;
    grid-template-areas: "titulo none" "texto none";
    align-items: center; }
    #header1 #contenedorSeccion1 .tituloSeccion1 {
      grid-area: titulo;
      margin-top: 30px; }
    #header1 #contenedorSeccion1 .parrafoSeccion1 {
      grid-area: texto;
      padding: 15px;
      margin: 0px 25px;
      background-color: #0000005e;
      border-radius: 40px; }

.formularioDeRegistro {
  width: 450px;
  background-color: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 65px;
  margin-bottom: 65px;
  border: 3px solid #1f54c5c7;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  box-shadow: 8px 8px 45px #505050bf; }
  .formularioDeRegistro h4 {
    font-size: 22px;
    margin-bottom: 20px; }
  .formularioDeRegistro .formulario .datosFormulario {
    width: calc(100% - 30px);
    background-color: #24303c;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: white; }
  .formularioDeRegistro .formulario p {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 15px;
    text-align: center; }
    .formularioDeRegistro .formulario p a {
      text-decoration: none; }
      .formularioDeRegistro .formulario p a:hover {
        color: white; }
  .formularioDeRegistro .formulario .boton {
    width: 76%;
    background-color: #1f53c5;
    border: none;
    border-radius: 5px;
    padding: 12px;
    color: white;
    margin: 30px 0px 15px;
    font-size: 16px; }
    .formularioDeRegistro .formulario .boton:hover {
      color: black;
      box-shadow: 0px 0px 10px #00000086; }
  .formularioDeRegistro .formulario .boton2 {
    display: none; }

#header3 {
  background-image: url(../imagenes/fondoSeccion3.jpg);
  background-position: left;
  background-size: cover; }
  #header3 .editorNavbar {
    background-color: rgba(169, 169, 169, 0.3); }
    #header3 .editorNavbar .editorContainer1 {
      padding: 0px; }
      #header3 .editorNavbar .editorContainer1 .editorBoton {
        background-color: rgba(169, 169, 169, 0.12); }
      #header3 .editorNavbar .editorContainer1 .editorCentrarNav {
        justify-content: center; }
        #header3 .editorNavbar .editorContainer1 .editorCentrarNav .editorTextosNav {
          font-family: 'Bebas Neue', cursive;
          font-size: 30px;
          column-gap: 45px; }
          #header3 .editorNavbar .editorContainer1 .editorCentrarNav .editorTextosNav .editorLink {
            margin: 5px 0px;
            padding: 0px; }
            #header3 .editorNavbar .editorContainer1 .editorCentrarNav .editorTextosNav .editorLink:hover {
              color: whitesmoke; }
  #header3 #contenedorSeccion3 {
    margin-top: 30px;
    height: calc(100vh - 55px); }
    #header3 #contenedorSeccion3 p {
      margin: 200px 100px 0px 100px;
      display: flex;
      flex-direction: column;
      row-gap: 30px; }

.zonasDeMendoza {
  margin: 0px 0px 50px 0px;
  padding: 0px; }
  .zonasDeMendoza h2 {
    margin-bottom: 30px;
    padding-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    background-color: #12473b7a;
    background-image: linear-gradient(to bottom, #00000000, #000000b8); }
  .zonasDeMendoza .zona-centro {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
  .zonasDeMendoza .card-zonas {
    width: 32%;
    height: 640px;
    outline: 5px solid #12473b7a;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 50px; }
    .zonasDeMendoza .card-zonas .card-img {
      width: 100%;
      height: 60%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      border-radius: 20px 20px 0px 0px;
      border-bottom: 5px solid #12473b7a;
      background-image: url(../imagenes/rioMendoza.jpg); }
    .zonasDeMendoza .card-zonas .card-img2 {
      width: 100%;
      height: 60%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      border-radius: 20px 20px 0px 0px;
      border-bottom: 5px solid #12473b7a;
      background-image: url(../imagenes/valleDeUco.jpg); }
    .zonasDeMendoza .card-zonas .card-img3 {
      width: 100%;
      height: 60%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      border-radius: 20px 20px 0px 0px;
      border-bottom: 5px solid #12473b7a;
      background-image: url(../imagenes/rioAtuel.jpg); }
    .zonasDeMendoza .card-zonas .card-img4 {
      width: 100%;
      height: 60%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      border-radius: 20px 20px 0px 0px;
      border-bottom: 5px solid #12473b7a;
      background-image: url(../imagenes/arroyoPircas.jpg); }
    .zonasDeMendoza .card-zonas .card-img5 {
      width: 100%;
      height: 60%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      border-radius: 20px 20px 0px 0px;
      border-bottom: 5px solid #12473b7a;
      background-image: url(../imagenes/quebradaDelCondor.jpg); }
    .zonasDeMendoza .card-zonas .card-title {
      margin: 0px;
      height: 10%; }
      .zonasDeMendoza .card-zonas .card-title h2 {
        margin: 0px;
        padding: 7px 0px;
        font-size: 30px;
        border-radius: 0px; }
    .zonasDeMendoza .card-zonas .card-content {
      height: 20%;
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
      .zonasDeMendoza .card-zonas .card-content p {
        margin: 0px;
        padding: 0px 10px 5px;
        font-size: 17px; }
    .zonasDeMendoza .card-zonas .card-btn .btn {
      width: 40%;
      background-color: #1f53c5;
      border: none;
      border-radius: 5px;
      padding: 10px;
      color: white;
      font-size: 16px; }
      .zonasDeMendoza .card-zonas .card-btn .btn:hover {
        color: black;
        box-shadow: 0px 0px 10px #00000086; }

#footer {
  font-family: 'Bebas Neue', cursive;
  font-weight: lighter; }
  #footer .fraseFinal h5 {
    padding: 10px 0px;
    background-color: rgba(169, 169, 169, 0.17);
    color: black; }
  #footer .redesSociales {
    margin: 0px;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px; }
    #footer .redesSociales li {
      list-style-type: none; }
      #footer .redesSociales li a {
        text-decoration: none;
        color: white; }
      #footer .redesSociales li:hover {
        color: gray; }
  #footer .parrafoFooter {
    color: rgba(158, 158, 158, 0.548);
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
    padding: 10px; }

@media screen and (max-width: 426px) {
  #footer .redesSociales {
    padding: 20px 0px;
    flex-direction: column;
    row-gap: 25px; }
  #footer .fraseFinal h5 {
    padding: 15px 0px;
    color: #f5f5f559;
    font-size: 20px; } }

@media screen and (max-width: 376px) {
  #footer .fraseFinal h5 {
    font-size: 18px; } }

@media screen and (max-width: 1289px) {
  #header1 {
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat; }
    #header1 .editorNavbar .editorContainer1 {
      padding: 10px; }
    #header1 #contenedorSeccion1 {
      height: auto;
      display: flex;
      flex-direction: column;
      margin-top: 320px; }
      #header1 #contenedorSeccion1 .parrafoSeccion1 {
        margin: 0px 30px;
        padding: 23px; } }

@media screen and (max-width: 426px) {
  #header1 {
    background-size: 600px; }
    #header1 #contenedorSeccion1 {
      margin-top: 190px; }
      #header1 #contenedorSeccion1 .tituloSeccion1 {
        margin-top: 0px; }
        #header1 #contenedorSeccion1 .tituloSeccion1 h1 {
          font-size: 50px; }
      #header1 #contenedorSeccion1 .parrafoSeccion1 {
        margin: 0px 10px;
        font-size: 20px; }
  .formularioDeRegistro {
    width: 365px;
    padding: 25px; }
    .formularioDeRegistro .formulario p {
      font-size: 16px; } }

@media screen and (max-width: 376px) {
  .formularioDeRegistro {
    width: 330px;
    padding: 10px; } }

@media screen and (max-width: 1371px) {
  .zonasDeMendoza .zona-centro {
    flex-direction: column; }
  .zonasDeMendoza .card-zonas {
    width: 50%; } }

@media screen and (max-width: 769px) {
  #header3 {
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat; }
    #header3 .editorNavbar .editorContainer1 {
      padding: 10px; }
    #header3 #contenedorSeccion3 .tituloSeccion3 {
      margin-top: 200px; }
    #header3 #contenedorSeccion3 p {
      margin: 40px 40px 0px;
      row-gap: 20px; }
  .zonasDeMendoza .card-zonas {
    width: 70%; } }

@media screen and (max-width: 426px) {
  #header3 {
    background-position: inherit;
    background-size: 820px;
    background-repeat: no-repeat; }
    #header3 #contenedorSeccion3 {
      height: calc(100vh - 240px);
      margin-top: 190px; }
      #header3 #contenedorSeccion3 .tituloSeccion3 {
        margin-top: 0px; }
        #header3 #contenedorSeccion3 .tituloSeccion3 h1 {
          font-size: 50px; }
      #header3 #contenedorSeccion3 p {
        margin: 0px 10px;
        font-size: 20px; }
  .zonasDeMendoza .card-zonas {
    width: 90%; }
    .zonasDeMendoza .card-zonas .card-content p {
      margin: 0px;
      padding: 0px;
      font-size: 17px; }
    .zonasDeMendoza .card-zonas .card-btn .btn {
      margin-top: 10px;
      width: 37%;
      padding: 8px;
      font-size: 14px; } }
